.eyeBttn {

    display: flexbox; 
    flex-direction: row;
    justify-content: center;
    justify-items: center;
    

}


.inputs {
    gap: 20px;
font-size: 30px;
}

.inputwrapper {
    gap:40px;
}